/.cache/
/.lsp-session-v1
/.org-id-locations
/auto-save-list/
/backups/
/bookmarks
/elpa/
/history
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/tramp
/transient/
/url/
/var/
/elpa.0/
/.emacs.desktop
/desktop.save/
/tree-sitter/
/projects
